* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 0px 200px;
}

.navbar .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 15px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header .container {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding: 100px 200px;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header p {
    font-size: 18px;
    color: #e5e7eb;
}

.header .left {
    padding-right: 100px;
}

.header button {
    padding: 5px;
    background-color: #3882f6;
}

.header img {
    width: 200px;
    height: auto;
}

.boxes .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.boxes h2 {
    font-size: 36px;
    color: #1f2937;
}

.boxes .allbox {
    display: flex;
}

.boxes .allbox .box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 30px;
    margin: 20px;
}

.boxes img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.quote .container {
    display: flex;
    background-color: #e5e7eb;
}

.quote .text {
    padding: 100px 350px;
}

.quote p {

    font-style: italic;
}

.signup .signbox {
    display: flex;
    background-color: #3882f6;
    margin: 50px 200px;
    padding: 10px 50px;
    justify-content: space-between;
    color: #f9faf8;
    border-radius: 5px;
    height: 100px;
    align-items: center;
}

.navbar, .footer {
    justify-content: space-between;
}

.footer .container {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}

.footer p {
    padding: 30px;
    color: #e5e7eb;
}

/* button i found in a google search */

.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}