* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 15px;
}

.header .container {
    display: flex;
    background-color: aqua;
    justify-content: center;
}

.header img {
    max-width: 150px;
}

.boxes .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxes .allbox {
    display: flex;
}

.boxes img {
    max-width: 150px;
    border-radius: 5px;
}

.quote .container {
    display: flex;
}
